.parrafo-centrado h1 {
  font-size: 4rem;
  padding-bottom: 40px;
}

.parrafo-centrado p {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  /*text-decoration: none;*/
  list-style-type: none;
  font-family: roboto sans-seriff;
}

a {
  text-decoration: none;
}

header {
  background-size: cover;
  background-color: white;
  /* position: fixed; no va porque la img le pasa por arriba al menu
   y no scrolea */
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  /* este margin left lo tengo que sacar cuando todos sean 
  responsive, se repite con el de abajo*/
  margin-left: 240px;
  margin-right: 100px;
}

/* margin-left: 240px;  Lo saco para que el icono en celu se corra 
a la izquierd en la media query, falta centrarlo y ajustar el hamburguer*/
.navbar-icono-mio {
  background-image: url(.././images/hamburgermenu_120234.svg);
}

.el-menu ul li a {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.el-menu ul li a:hover {
  color: rgb(121, 100, 241) !important; /*si no
pongo important no funciona el hover en Inicio*/
}

/* la media query es para el menu hamburguer y otras secciones que lo requieran */
@media (max-width: 992px) {
  /* corre el icono a la izquierda*/
  header img {
    margin-left: 0px;
    margin-right: 100px;
  }
  .navcollapse {
    /* con relative tira para abajo el carousel*/
    position: absolute;
    top: 77px;
    left: 0;
    /*En elementos que se superponen los de mayor z-index 
    cubren los de menor valor*/
    z-index: 1;
    background-color: black;
    width: 70%;
    height: 100vh;
    opacity: 0.5;
  }
  .el-menu ul li a {
    color: white !important; /* si no pongo el 
impotant no aparece la palabra Inicio cuando colapsa*/
  }
}
/* TRABAJANDO EN EL FOOTER*/
.mi-deco-pie {
  font-weight: bold;
}

.mi-deco-mail {
  text-decoration: underline;
  color: black;
}

/* media para el footer*/
@media (max-width: 992px) {
  .mi-margen {
    margin-left: 10px;
  }
  .mi-deco-pie {
    text-align: center !important;
  }
  .mi-deco-redes {
    display: flex;
    justify-content: center;
  }
}
/* trabajando en el main*/
.parrafo-centrado {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cuatroiconos {
  padding: 20px 0px 0px 0px;
}

.cuatroiconos .i2 {
  display: inline-block;
}

.i1 img:hover {
  cursor: pointer;
}

.i2 {
  padding: 0px 100px 0px 150px;
}

/*agrego estilos para inicio en la media query*/
@media (max-width: 800px) {
  .parrafo-centrado {
    top: 35%;
  }
  .parrafo-centrado h1 {
    font-size: 3rem;
    padding-bottom: 10px;
  }
  .parrafo-centrado p {
    font-size: 20px;
  }
}
/* la experiencia html */
.tcontorno {
  /* width: 700px;
   height: 500px;*/
  width: 60%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  border: 7px solid white;
  /* display: flex;
   flex-direction: column;*/
  text-align: center;
  padding: 80px;
  /*position:  absolute;*/
  top: 100px;
  left: 400px;
}
.tcontorno h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.tcontorno p {
  color: white;
  font-size: 28px;
  line-height: 36px;
}

.img-txtle {
  /* Contenedor definiendo en el Div una clase */
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../images/degustaciona25.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-right: 0px;
}

/* LA DEGUSTACION HTML */
/*.posicion
    {
        background-image: url(../images/degustaciona25.jpg);
        position: relative;
        width: 50%;
    }
.opacidad{
    opacity: 0.2;
}*/
.img-txt-ld {
  position: relative;
  width: 100%;
  height: 800px;
  /*background-image: url(../images/degustaciona25.jpg);
  background-size: cover;*/
  background: rgba(0, 0, 0, 0.5) url("../images/degustaciona25.jpg") center/cover no-repeat;
  /*display: flex;
  justify-content: center;*/
  padding-right: 0px;
  /*opacity: 0.3;*/
  color: white;
}
.img-txt-ld h2 {
  color: black;
  font-size: 55px;
  font-family: "Times New Roman";
  font-weight: bold;
  position: absolute;
  padding: 6rem 0rem 0rem 14rem;
  /*opacity: 1;*/
  /* border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: black;*/
}
.img-txt-ld p {
  color: black;
  font-size: 21px;
  position: absolute;
  padding: 6rem 14rem 0rem 55rem;
  text-align: center;
  line-height: 30px;
  /*opacity: 1;*/
  font-weight: 900;
}

/*agrego estilos para LD en la media query*/
@media (max-width: 800px) {
  .img-txt-ld h2 {
    color: black;
    font-size: 35px;
    font-family: "Times New Roman";
    font-weight: bold;
    position: absolute;
    padding: 20px 0rem 0rem 3rem;
    /* border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: black;*/
  }
  .img-txt-ld p {
    color: black;
    font-size: 18px;
    position: absolute;
    padding: 70px 20px 0px 20px;
    text-align: center;
    line-height: 25px;
  }
}
/* LA UBICACION HTML */
section {
  margin: 2rem 0rem 0rem 4rem;
}

.mi-margen-carous {
  margin-top: 60px;
  margin-bottom: 60px;
}

.t-lau-h {
  color: black;
  font-size: 32px;
  font-style: initial;
  /* position: absolute; no puede ir 
  se posiciona debajo del footer*/
  /* los saco cuando uso bootstrap
   padding-top: 10rem;
   padding-left: 43rem;
   */
}

.t-lau-p {
  color: black;
  font-size: 20px;
  /* position: absolute; idem h*/
  /* los saco cuando uso bootstrap
   padding: 2rem 20rem 0rem 25rem;
   text-align: center;*/
}

/* SOBRE NOSOTROS HTML */
.mi-f-padd {
  padding-top: 60px;
  padding-right: 50px;
}

/* efecto sombra*/
.mi-shadow {
  border-radius: 50%;
  box-shadow: 60px -40px rgb(78, 77, 77);
}

.mi-estilo-h {
  margin-top: 250px;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.1;
}

.mi-estilo-p {
  line-height: 40px;
  padding: 25px 100px 0px 0px;
  font-size: 20px;
}

.mi-v-snos {
  margin-bottom: 60px;
}
.mi-v-snos video {
  border: double black;
}

/*agrego 3 clases para SN en la media query*/
@media (max-width: 992px) {
  .mi-vp {
    width: 100vw;
  }
  .mi-estilo-h {
    margin-top: 50px !important;
  }
  .mi-estilo-p {
    padding: 25px !important;
  }
}

/*# sourceMappingURL=style.css.map */
