/* trabajando en el main*/

  
   .parrafo-centrado {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1{
         font-size: 4rem; 
         padding-bottom: 40px;
      }
      p {
         font-size: 2rem;
      }
      
   }

.cuatroiconos {
               padding: 20px 0px 0px 0px;
            }
   
.cuatroiconos .i2 {
                   display: inline-block;
                 }

.i1{
   img{
       &:hover {
               cursor: pointer;
           }
       } 
   }                 
.i2 {
   padding: 0px 100px 0px 150px;
} 


/*agrego estilos para inicio en la media query*/
@media (max-width: 800px) {
   .parrafo-centrado {
      top: 35%;
      h1{
         font-size: 3rem; 
         padding-bottom: 10px;
      }
      p {
         font-size: 20px;
      }
      
   }
}