/* trabajando en el main*/

  
   .parrafo-centrado {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1{
         @extend %parrafo-centrado-h;
      }
      p {
         @extend %parrafo-centrado-p;
      }
      
   }

   /* botones */
   .btn-grupo {
      padding-left: 30%;
      padding-top: 20px;
   }

   .btn-grupo .boton {
      background-color: transparent;
      border: 3px solid white;
      color: white;
      padding: 12px 26px;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      font-family: roboto;
      cursor: pointer;
      border-radius: 30px;
      justify-content: center;
      }
      .btn-grupo .boton:not(:last-child){
         
         margin-right: 10px;
      }
      
      .btn-grupo .boton:hover{
         background-color: white;
         color: black;
      }

.cuatroiconos {
               padding: 20px 0px 0px 0px;
            }
   
.cuatroiconos .i2 {
                   display: inline-block;
                 }

.i1{
   img{
       &:hover {
               cursor: pointer;
           }
       } 
   }                 
.i2 {
   padding: 0px 100px 0px 150px;
} 



/*agrego estilos para inicio en la media query*/
@media (max-width: 800px) {
   .parrafo-centrado {
      top: 35%;
      h1{
         font-size: 2rem; 
         padding-bottom: 10px;
      }
      p {
         font-size: 16px;
      }
      
   }
}