/* LA DEGUSTACION HTML */

.imgtxtld{
    img {
        overflow: hidden;
        opacity: 0.1;
        }

    h2 {
        color: black;
        font-size: 4rem;
        font-family: 'Times New Roman';
        position: absolute;
        padding: 7rem 0rem 0rem 7rem;
        border: 0px 0px 6px;
        }

    p {
        color: black;
        font-size: 20px;
        position: absolute;
        padding: 7rem 10rem 0rem 55rem;
        text-align: center;
        line-height: 30px;
    }
}
